In [1]:
# Librerias

In [5]:
!pip install numpy pandas

Collecting numpy
  Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------ ------------------------- 20.5/60.9 kB 131.3 kB/s eta 0:00:01
     ------------------- ------------------ 30.7/60.9 kB 163.8 kB/s eta 0:00:01
     ------------------------- ------------ 41.0/60.9 kB 196.9 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 231.3 kB/s eta 0:00:00
Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dario\miniconda3\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dario\miniconda3\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dario\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/16.2 MB 2.4 MB/s eta 0:00:07
   - -------------------------------------- 0.6/16.2 MB 6.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.9/16.2 MB 6.8 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/16.2 MB 8.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.9/16.2 MB 8.1 MB/s eta 0:00:02
   -------- ------------------------------- 3.4/16.2 MB 11.9 MB/s eta 0:00:02
   ---------- ----------------------------- 4.2/16.2 MB 14.1 MB/s eta 0:00:01
   ------------ --------------------------- 5.0/16.2 MB 13.4 MB/s eta 0:00:01
   ----------------- ---------------------- 7.1/16.2 MB 16.7 MB/s eta 0:00:01
   ---------------------- ----------------- 9.3/16.2 MB 19.9 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.2 MB 28.5 MB/s eta 0:00:01
   -------------------------------- ------- 13.3/16.2 MB 36.4 MB/s eta 0:00:01
   --------------------------------- ------ 13.7/16.2 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.2 MB 40.9 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.2 MB 40.9 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 31.2 MB/s eta 0:00:00
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/11.5 MB 34.4 MB/s eta 0:00:01
   ----------- ---------------------------- 3.3/11.5 MB 41.6 MB/s eta 0:00:01
   ---------------- ----------------------- 4.8/11.5 MB 33.8 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 33.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.7/11.5 MB 35.3 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 33.5 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.5 MB 32.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 31.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 26.2 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 22.3 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 tzdata-2024.1

In [6]:
import numpy as np
import pandas as pd

In [10]:
# Primer dataset

df_card = pd.read_csv(r'C:\\Users\\Dario\\Desktop\\Proyecto No contry\\Datasets\\Dataset1.csv')
df_card.head(10)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target
0,5008804,1,1,1,1,0,0,0,0,2,15,427500.0,32.868574,12.435574,Working,Higher education,Civil marriage,Rented apartment,Other,1
1,5008806,1,1,1,0,0,0,0,0,2,29,112500.0,58.793815,3.104787,Working,Secondary / secondary special,Married,House / apartment,Security staff,0
2,5008808,0,0,1,0,1,1,0,0,1,4,270000.0,52.321403,8.353354,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,Sales staff,0
3,5008812,0,0,1,0,0,0,1,0,1,20,283500.0,61.504343,0.000000,Pensioner,Higher education,Separated,House / apartment,Other,0
4,5008815,1,1,1,1,1,1,0,0,2,5,270000.0,46.193967,2.105450,Working,Higher education,Married,House / apartment,Accountants,0
5,5008819,1,1,1,0,0,0,0,0,2,17,135000.0,48.674511,3.269061,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,0
6,5008825,0,1,0,0,0,0,0,0,2,25,130500.0,29.210730,3.019911,Working,Incomplete higher,Married,House / apartment,Accountants,1
7,5008830,0,0,1,0,1,0,0,0,2,31,157500.0,27.463945,4.021985,Working,Secondary / secondary special,Married,House / apartment,Laborers,1
8,5008834,0,0,1,0,0,0,0,1,2,44,112500.0,30.029364,4.435409,Working,Secondary / secondary special,Single / not married,House / apartment,Other,0
9,5008836,1,1,1,0,0,0,0,3,5,24,270000.0,34.741302,3.184186,Working,Secondary / secondary special,Married,House / apartment,Laborers,0

In [11]:
# Segundo dataset

df_house = pd.read_csv(r'C:\\Users\\Dario\\Desktop\\Proyecto No contry\\Datasets\\Dataset2.csv')
df_house.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.99991
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.99996
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.99970

#### Voy a unir a los dos datasets mediante una clave común. Para crear esta clave común voy a unir 'Gender','Age'y Marital_Status en df_house(el segundo dataset) y sus equivalentes en df_card (primer dataset).

In [12]:
# Normalizamos las columnas Gender
df_card['Gender'] = df_card['Gender'].replace({1: 'M', 0: 'F'}) #Transfomramos en 0 y 1

# Normalizamos las columnas de edad (convertir las edades en enteros)
df_card['Age'] = df_card['Age'].astype(int)
df_house['Customer_Age'] = df_house['Customer_Age'].astype(int)

# Unimos los datasets basados en columnas comunes que mencione antes (Gender, Age, Marital Status)
#'Family_status' en df_card y 'Marital_Status' en df_house se consideran equivalentes

# Combinamos los datasets con las columnas normalizadas
df = pd.merge(df_card, df_house, left_on=['Gender', 'Age', 'Family_status'], right_on=['Gender', 'Customer_Age', 'Marital_Status'], how='inner')

# Primeras filas del dataframe nuevo
df.head()

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,5008806,M,1,1,0,0,0,0,0,2,...,12555.0,1696,10859.0,0.519,1291,24,0.714,0.135,0.000098,0.999900
1,5008806,M,1,1,0,0,0,0,0,2,...,24407.0,2395,22012.0,1.071,2311,48,0.714,0.098,0.000065,0.999940
2,5008806,M,1,1,0,0,0,0,0,2,...,1438.3,537,901.3,0.819,715,13,0.182,0.373,0.997170,0.002825
3,5008806,M,1,1,0,0,0,0,0,2,...,10021.0,1617,8404.0,0.578,1275,25,0.667,0.161,0.000169,0.999830
4,5008806,M,1,1,0,0,0,0,0,2,...,12010.0,2149,9861.0,0.801,1700,35,1.500,0.179,0.000107,0.999890

### Pude crear el dataset, lo que no realicé fue el analisis exploratorio ni examine el dataset, a partir de mañana sacamos concluciones y vemos que podemos hacer! :)